html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url("./assets/library.jpg");
}
#root {
  height: 100%;
  /* flex-direction: column;
  justify-content: center; */
}
#page-content {
  flex-grow: 2;
}

.inputty {
  width: 100%;
}

.loggedin {
  max-width: 300px;
}

.catalog {
  min-height: 80vh;
}

.foreground-box {
  background-color: antiquewhite;
}

.my-border {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 30px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: black !important;
}

.checkbox {
  width: 18px;
  height: 18px;
}